@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: yellow;
    text-align: center;
}
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

